<div class="hero">
  <br />
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>Learn stuff from people.</h1>
    <br />
    <h2>You can also teach stuff to people.</h2>
    <br />
    <%= link_to 'Learn More', courses_path, :class => 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
	<div class="col-sm-4">
		<h3>Feature 1</h3>
      <p>Yep, we've got that.</p>
	</div>

	<div class="col-sm-4">
		<h3>Feature 2</h3>
      <p>Yep, we've got that too.</p>
	</div>

	<div class="col-sm-4">
		<h3>Feature 3</h3>
      <p>Yes. We can also to THAT.</p>
	</div>
</div>